*{
    margin: 0;
    padding: 0;
}
.body{
    background: url("../bg.jpg") no-repeat center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
}
#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 162px;
    font-size: 39px;
    font-weight: bold;
}
#board{
    background: linear-gradient(rgb(135, 233, 135),rgb(255, 255, 126));
    height: 92vmin;
    width: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background: red;
    border: 2px solid purple;
    border-radius: 8px;
}
.snake{
    background: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(yellow,red);
    border: .25vmin solid black;
    border-radius: 50%;
}